/* Basic styling for the website */

body {
    background-color: #f5f5dc;
    font-family: Georgia, 'Times New Roman', serif;
    color: #333333;
    line-height: 1.6;
    padding: 20px;
}

h1, h2, h3 {
    font-weight: bold;
    color: #2c1810;
}

h1 {
    font-size: 2.5em;
    margin: 20px 0;
}

h2 {
    font-size: 2em;
    margin: 15px 0;
}

h3 {
    font-size: 1.5em;
    margin: 12px 0;
}

p {
    margin: 15px 0;
}

img {
    height: 250px;
    width: 250px;
    border: 3px solid #8b4513;
    margin: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #2c1810;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #8b4513;
}

footer {
    margin-top: 40px;
    padding: 20px;
    background-color: #d2b48c;
    text-align: center;
    color: #2c1810;
}

.special {
    background-color: palevioletred;
    margin-left: 30px;
    padding-top: 20px;
    padding-left: 15px;
    border-left: 5px solid #d2b48c;
    border-bottom: 2px solid #f5f5dc;
}

.highlight {
    background-color: pink;
    margin-left: 40px;
    padding-top: 30px;
    padding-left: 10px;
    border-left: 6px solid #d2b48c;
    border-bottom: 6px solid #f5f5dc;
}

h2:hover {
   color: green 
}

nav a:focus {
    outline: 20px solid red
}

nav li:last-child {
    background-color: green;
    color: white;
}